<h1>Add a new recipe</h1>
<p>Find me in app/views/recipes/new.html.erb</p>

<%= form_for @recipe, :url => recipes_path do |r| %>

	<%= r.label :title %> <%= r.text_field :title %>

	<%= r.label :description %> <%= r.text_area :description %>

	<%= r.label :difficulty %> <%= r.text_field :difficulty %>

	<%= r.label :ingredients %> <%= r.text_area :ingredients %>

	<%= r.label :method %> <%= r.text_area :method %>

	<%= r.label :serves %> <%= r.text_field :serves %>

	<p><%= r.submit "Submit Recipe", :class => "btn btn-success" %></p>

<% end %>
